MGSpotyCollection.xcodeproj/project.xcworkspace/xcuserdata
MGSpotyCollection.xcodeproj/xcuserdata
MGSpotyCollectionDemo.xcodeproj/project.xcworkspace/xcuserdata
MGSpotyCollectionDemo.xcodeproj/xcuserdata
